body { 
  padding-top: 70px; 
  padding-bottom: 50px;
}

td, th {
   padding: 10px;
}

table {border-spacing: 2px;}

/*  Define the background color for all the ODD background rows  */
tr:nth-child(2n) td {
  background: #cccccc;
}
/*  Define the background color for all the EVEN background rows  */
tr:nth-child(2n+1) td  {
  background: #ffffff;
}
