body { 
  padding-top: 70px; 
  padding-bottom: 50px;
}

td, th {
  padding: 10px;
}

table {border-spacing: 2px;}

/*  Define the background color for all the ODD background rows  */
tbody:nth-child(2n) tr {
  background: #cccccc;
}
/*  Define the background color for all the EVEN background rows  */
tbody:nth-child(2n+1) tr  {
  background: #ffffff;
}
